<%- include("header") -%>

<h2>This is the about page!</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste vero aperiam explicabo, dolore maiores quisquam est fugit minus recusandae aliquid blanditiis doloremque suscipit numquam minima libero eaque ratione vitae incidunt! Perspiciatis deleniti iste, exercitationem excepturi distinctio blanditiis earum voluptas repellat?</p>

<%- include("footer") -%>